<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>indexpage</h1>

  <% @artists.each do |artist| %>
  <!-- <div>
  <%= image_tag artist.remote_image_url %>
</div> --> <br>


  <%= link_to artist.name, artist_path(artist.id) %>
  <button type="button" name="button"> <%= link_to "X", artist_path(artist.id), method: :delete, data: { confirm: "Are you sure?" } %> </button>

  <% end %>

</body>
</html>
