<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<%= @artists.name %>
<br>
  <% @artists.songs.each do |song| %>
           <%= song.title %>

     <button type="button" name="button"> <%= link_to "X", song_path(song.id), method: :delete, data: { confirm: "Are you sure?" } %> </button>
<br>
 <% end %>

     <button type="button" name="button"><%= link_to "New Song" , new_song_path %></button>

</body>
</html>
