<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

<h2 class="centerBlock midscreen"> All Songs</h2>



    <% @songs.each do |song| %>
      <div class="centerBlock">
        <%= song.title %>
      </div>

          <br>
            <div class="caption centerBlock">
        <%= link_to "Delete", song_path(song.id), method: :delete, data: { confirm: "Are you sure?" } %>
            </div>
          <br>

    <% end %>

    <div class="centerBlock">
        <%= link_to "New Song" , new_song_path %>
    <div>
</body>
</html>
